body {
    margin: 0;
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    position: relative;
    font-family: Arial, sans-serif;
}

.window-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashlight {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
}

nav.hidden-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav.hidden-nav ul {
    list-style-type: none;
    padding: 0;
}

nav.hidden-nav li {
    margin: 15px 0;
}

nav.hidden-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.flashlight:hover {
    width: 200px;
    height: 200px;
}

.welcome-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.welcome-box {
    background-color: #333; /* Grey box */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.title {
    font-size: 48px;
    color: #FFD700; /* Gold color for the title */
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.instructions {
    text-align: left;
    margin-bottom: 20px;
}

.start-btn {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #FFD700; /* Gold button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #e6c300; /* Slightly darker gold on hover */
}
